/*
Theme Name: VideoTube
Description: VideoTube - A Responsive Video WordPress Theme.
Author: phpface
Theme URI: http://themeforest.net/item/videotube-a-responsive-video-wordpress-theme/7214445?ref=phpface
Author URI: http://themeforest.net/user/phpface
Version: 3.0.8
License: Themeforest Licence
License URI: http://themeforest.net/licenses
Text Domain: mars
Tags: fixed-layout, fluid-layout, responsive-layout, translation-ready, light, white, one-column, two-columns, right-sidebar,custom-menu, editor-style, featured-images,  sticky-post, theme-options, translation-ready
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family:"Lato", sans-serif !important; */
}
img {
  max-width: 100%;
  height: auto;
}
iframe {
  border: 0;
}
.radio {
  margin-left: 20px;
}
#header-social a,
.social-counter-item i,
.video-details .meta a,
.post-info .meta a,
#footer .widget a.tag,
#footer .mars-keycloud-widgets a,
.tagcloud a {
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.container {
  position: relative;
}

.pagination {
  white-space: nowrap;
  display: inline-block;
  padding-left: 0;
  margin: 10px 0;
  border-radius: 4px;
  margin-bottom: 30px !important;
}

/*** HEADER ***/
#header {
  /* border-bottom:1px solid #e5e5e5; */
  position: relative;
  z-index: 10;
  /* background: black; */
}

/*** LOGO ***/
#logo {
  /* width: 240px; */
  height: 79px;
  /* border-right:1px solid #e5e5e5; */
  line-height: 76px;
  /* -webkit-box-shadow: 6px 0px 9px 0px rgba(165, 165, 165, 0.07);
		-moz-box-shadow:    6px 0px 9px 0px rgba(165, 165, 165, 0.07);
		box-shadow:         6px 0px 9px 0px rgba(165, 165, 165, 0.07); */
}

/*** HEADER SEARCH ***/
/* #header-search {
		position: absolute;
		left: 255px;
		right: 197px;
		width: auto;
	} */
#header-search input {
  border: none;
  font-size: 11px;
  letter-spacing: 0.5px;
  line-height: 34px;
  /* height:78px; */
  width: 97%;
  /* margin-left: 23px; */
  background: inherit;
  color: white;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding-left: 10px;
}
#header-search input:focus {
  outline: none;
}
#header-search .search-icon {
  color: #bbb;
  position: absolute;
  top: 32px;
  cursor: pointer;
}

/*** HEADER SOCIAL ***/
#header-social {
  width: 200px;
  float: right;
  text-align: right;
  height: 79px;
  border-left: 1px solid #e5e5e5;
  line-height: 80px;
  -webkit-box-shadow: -6px 0px 9px 0px rgba(165, 165, 165, 0.07);
  -moz-box-shadow: -6px 0px 9px 0px rgba(165, 165, 165, 0.07);
  box-shadow: -6px 0px 9px 0px rgba(165, 165, 165, 0.07);
}

#header-social a {
  color: #bbb;
  font-size: 14px;
  margin-left: 10px;
}
#header-social a:hover {
  color: #e73737;
}

/*** NAVIGATION ***/
#navigation-wrapper {
  /* background:black; */
  background: #0a0a0a;
  margin-bottom: 30px;
}

.navbar-collapse {
  margin-right: -15px !important;
  margin-left: -15px !important;
}
.navbar-toggle .icon-bar {
  background: #fff;
}

#navigation-wrapper ul.menu {
  margin-bottom: 0;
  width: 100%;
  margin: 0;
}
#navigation-wrapper ul.menu li {
  padding: 0;
}

#navigation-wrapper ul.menu li a {
  color: #fff;
  /* font-family:Lato, sans-serif; */
  /* text-transform:uppercase; */
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 1px;
  /* height:56px; */
  display: block;
  /* line-height:56px; */
  line-height: 38px;
  padding: 0 14px;
  background: none;
  margin: 10px;
  margin-bottom: 0px;
  border-radius: 4px;
}

#navigation-wrapper ul.menu li ul li a {
  height: 30px;
  line-height: 30px;
}
.dropdown-submenu {
  position: relative;
}
.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: 0;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px 6px;
  border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}
.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #cccccc;
  margin-top: 9px;
  margin-right: -6px;
}
.dropdown-submenu:hover > a:after {
  border-left-color: #ffffff;
}
.dropdown-submenu.pull-left {
  float: none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

.navbar-nav > li > .dropdown-menu {
  z-index: 999999999;
}
#navigation-wrapper ul.menu li:hover {
  /* background:rgba(0,0,0, .2); */
  background: none;
}
#navigation-wrapper ul.menu li a:hover {
  /* background:none; */
  background: red;
}
#navigation-wrapper ul.menu li.active a {
  /* background:rgba(0,0,0, .2); */
  background: red;
}

#navigation-wrapper ul.menu li.search-form {
  float: right;
}
#navigation-wrapper ul.menu li.search-form:hover {
  background: none;
}

#navigation-wrapper ul.menu li.search-form form {
  color: #fff;
  /* font-family: Lato, sans-serif; */
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 1px;
  height: 56px;
  display: block;
  line-height: 56px;
  background: none;
}
#navigation-wrapper ul.menu li.search-form form input[type="text"] {
  padding-right: 30px;
}
#navigation-wrapper ul.menu li.search-form .form-group {
  position: relative;
}
#navigation-wrapper ul.menu li.search-form .form-group span {
  position: absolute;
  right: 6px;
  top: 23px;
  color: #4c5358;
  font-size: 15px;
}

@media (max-width: 767px) {
  #navigation-wrapper ul.menu li.search-form {
    float: none;
    margin: 0;
    padding: 13px;
  }
  #navigation-wrapper ul.menu li.search-form .form-group span {
    display: none;
  }
}
/*** SECTION HEADER ***/
.section-header {
  overflow: hidden;
  margin-bottom: 20px;
  padding-left: 5px;
  padding-right: 5px;
}

.section-header h3,
.section-header .page-title {
  color: #888;
  font-size: 20px;
  letter-spacing: 0px;
  margin: 0;
  font-weight: 300;
  /* font-family:Lato, sens-serif; */
  float: left;
  margin-top: 3px;
  text-transform: capitalize;
}

.section-header h3 i {
  font-size: 13px;
  background: #e73737;
  color: #fff;
  width: 22px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  border-radius: 50%;
  letter-spacing: 0;
  margin-right: 2px;
  vertical-align: middle;
  margin-top: -3px;
}

.section-header h3 i.fa-play {
  font-size: 9px;
}
.section-header h3 a {
  color: #888;
}
.section-header h3 a:hover {
  text-decoration: none;
}
.section-header .section-nav {
  float: right;
  position: static;
  width: auto;
  margin: 0;
}

.section-header .section-nav .bullet {
  background: #ddd;
  width: 13px;
  height: 13px;
  display: inline-block;
  border-radius: 50px;
  border: 0;
  margin: 0;
}
.section-header .section-nav .bullet.active {
  background: #e73737;
}

.carousel .section-header {
  margin-left: -5px;
  margin-right: -5px;
}

a.viewmore {
  padding: 5px 8px 6px 8px;
  font-size: 10px;
  background: #e73737;
  color: #fff;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 5px;
  margin-top: 1px;
  display: inline-block;
}
a.viewmore:hover {
  text-decoration: none;
  color: #fff;
  opacity: 0.9;
}
a.viewmore i {
  font-size: 12px;
}

/*** FEATURED WRAPPER ***/
.featured-wrapper {
  /* background:#f2f2f2; */
  padding: 30px 0 0;
  margin-bottom: 30px;
}
.featured-wrapper .item > div {
  margin-bottom: 30px;
  padding-left: 5px;
  padding-right: 5px;
}

.feat-item {
  position: absolute;
  bottom: 0;
  left: 5px;
  height: 120px;
  width: 97.5%;
  background: url(img/feat-bg.png) repeat-x bottom;
}
.feat-item .feat-info {
  padding: 38px 20px 0 20px;
}
.feat-item h3 {
  margin-bottom: 4px;
  overflow: hidden;
}
.feat-item h3 a {
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  white-space: nowrap;
}

/*** ITEMS ***/
.video-section {
  margin-bottom: 30px;
}

.padding-5-5 {
  padding-left: 5px;
  padding-right: 5px;
}

.padding-15-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.page-template-tpl-page-builder .video-section {
  padding-left: 15px;
  padding-right: 15px;
}

body.archive .video-section {
  padding-left: 20px;
  padding-right: 10px;
}

.item.big.list {
  margin-bottom: 60px;
  padding-left: 0;
  padding-right: 0;
}

.carousel-inner .item.active .row:last-child {
  margin-bottom: -30px;
}
.carousel-inner .post {
  margin-bottom: 30px;
}
.carousel-inner .post .post-header {
  margin-bottom: 0;
}

.video-section .post,
.widget .post {
  margin-bottom: 30px;
  padding-left: 5px;
  padding-right: 5px;
}
.video-section .post .post-header,
.widget .post .post-header {
  margin-bottom: 0;
}
.video-section .item,
.widget .item {
  margin-bottom: 30px;
  padding-left: 5px;
  padding-right: 5px;
}

.video-section .item,
.widget .item {
  margin-bottom: 30px;
}

.video-section .item h3,
.widget .item h3 {
  margin: 0;
  line-height: 21px;
  margin-bottom: 4px;
  overflow: hidden;
}

.video-section .item h3 a,
.widget .item h3 a {
  font-size: 13px;
  color: #000;
  font-weight: 700;
  overflow: hidden;
}

.video-section .item img,
.widget .item img {
  margin-bottom: 5px;
  width: 100%;
  height: auto;
}

.loading-wrapper button {
  width: 100%;
}

.loading-wrapper .loading-more-icon {
  background: transparent;
}
.item .meta,
.feat-item .feat-info .meta {
  font-size: 12px;
  /* font-family:"Lato", sans-serif; */
  color: #999;
  max-width: 99% !important;
  overflow: hidden;
}

.item .meta .date,
.feat-item .feat-info .meta .date {
  float: left;
}
.item .meta .views,
.feat-item .feat-info .meta .views {
  float: right;
}
.item .meta .fcomments,
.feat-item .feat-info .meta .fcomments {
  float: right;
  margin-right: 9px;
}
.item .meta .heart,
.feat-item .feat-info .meta .heart {
  float: right;
  margin-right: 10px;
}

.item .meta .views i,
.feat-item .feat-info .meta .views i {
  font-size: 12px;
  margin-right: 3px;
  color: #b5b5b5;
}
.item .meta .heart i,
.feat-item .feat-info .meta .heart i {
  font-size: 10px;
  margin-right: 3px;
  color: #bbb;
}
.item .meta .fcomments i,
.feat-item .feat-info .meta .fcomments i {
  font-size: 12px;
  margin-right: 3px;
  color: #b5b5b5;
}
.item .meta .fcategory {
  display: block;
  margin: 7px 0 0 0;
  float: left;
}

.item .meta .fcategory a {
  margin-left: 5px;
}
.item .meta .fcategory i {
  margin-right: 3px;
}
.item .meta .fcategory a {
  color: #999;
}

.feat-item .feat-info .meta .fcategory {
  float: none;
  margin: 0 0 0 12px;
  display: inline-block;
  overflow: hidden;
}
/*** ITEM LIST ***/

.item p {
  font-size: 12px;
  line-height: 19px;
}

.item p a {
  font-weight: 700;
  color: #e73737;
}
.item p a i {
  font-size: 14px;
  margin-right: 4px;
}

.item.list h3 a {
  font-size: 17px;
  margin-bottom: 6px;
  display: block;
}

.item.list .meta {
  margin-bottom: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #eee;
  max-width: 99%;
}

/*** Big list ***/
.item.list.big img {
  margin-bottom: 12px;
}

.social-share-buttons > div {
  margin: 0px 0px 10px 0px;
}
.social-share-buttons > div > a > img {
  width: 30px;
  height: auto;
}

/** IMG hover **/
.item-img {
  position: relative;
}
.item-img img {
  width: 100%;
  height: auto;
}
.img-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000 url(img/play-icon.png) no-repeat center center;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1, 1);
}
.img-hover.big {
  background: #000000 url(img/play-icon-big.png) no-repeat center center;
}
.item-img:hover > a .img-hover {
  opacity: 0.75;
}

.latest-wrapper .col-md-12 {
  padding-left: 5px;
  padding-right: 5px;
}

/*** SIDEBAR ***/
.sidebar {
}
.sidebar .widget_recent_entries ul li {
  font-size: 13px;
  margin-bottom: 4px;
  margin-left: -30px;
  list-style: none;
}
.sidebar .widget_recent_entries ul li:before {
  content: "\f0da";
  font-family: "FontAwesome";
  margin-right: 6px;
}
.sidebar .widget_recent_entries ul li a {
  color: #000;
}
/*** WIDGETS ***/
.widget {
  overflow: hidden;
  margin-bottom: 30px;
}

.widget ul li {
  font-size: 13px;
  margin-bottom: 4px;
}
.widget ul li a {
  color: #000;
}
.widget p {
  font-size: 12px;
  line-height: 19px;
}

.widget h4.widget-title,
.sidebar .wpb_wrapper .widget-title,
.sidebar .widget .widgettitle {
  background: #e73737;
  border-left: 8px solid rgba(0, 0, 0, 0.2);
  color: #fff;
  margin: 0 0 20px 0;
  padding: 13px 10px 14px 10px;
  /* font-family:Lato, sans-serif; */
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
}
h4.widget-title a {
  color: #fff;
}
h4.widget-title a:hover {
  text-decoration: none;
}
.sidebar .wpb_wrapper .widget-title {
  width: 100%;
}
/*** Social Widget ***/
.social-counter-item {
  text-align: center;
  width: 22.5%;
  float: left;
  margin-right: 3.3%;
}
.social-counter-item.last {
  margin-right: 0;
}
.social-counter-item:nth-child(5) {
  margin-right: 0;
}
.social-counter-item i {
  width: 100%;
  height: 75px;
  background: #eee;
  color: #aaa;
  font-size: 28px;
  text-align: center;
  line-height: 75px;
  margin-bottom: 5px;
}
.social-counter-item i.fa:hover {
  color: #fff;
}
.social-counter-item i.fa-facebook:hover {
  background: #3b5998;
}
.social-counter-item i.fa-twitter:hover {
  background: #00abf0;
}
.social-counter-item i.fa-google-plus:hover {
  background: #da4835;
}
.social-counter-item i.fa-rss:hover {
  background: #ff6600;
}
.social-counter-item i.fa-instagram:hover {
  background: #517fa4;
}
.social-counter-item i.fa-youtube:hover {
  background: #bb0000;
}
.social-counter-item i.fa-soundcloud:hover {
  background: #f50;
}
.social-counter-item i.fa-pinterest:hover {
  background: #c11a22;
}
.social-counter-item i.fa-tumblr:hover {
  background: #32506d;
}
.social-counter-item i.fa-vimeo:hover {
  background: #4bf;
}
.social-counter-item i.fa-linkedin:hover {
  background: #517fa4;
}
.social-counter-item a {
  color: #999;
}
.social-counter-item a:hover {
  text-decoration: none;
  color: #444;
}
.social-counter-item span.counter {
  font-size: 15px;
  font-weight: 700;
  display: block;
  margin-bottom: -3px;
}
.social-counter-item span.counter-text {
  font-size: 12px;
}

.list-unstyled.social {
  text-transform: capitalize;
}

/*** Tags ***/
.mars-keycloud-widgets a,
.tagcloud a,
a.tag {
  background: #eee;
  color: #b5b5b5;
  padding: 4px 6px;
  margin: 0 4px 8px 0;
  display: inline-block;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/*** Social List ***/
ul.social li i {
  width: 20px;
  font-size: 14px;
}

.mars-posts-sidebar-widget > .row,
.mars-videos-sidebar-widget > .row {
  margin-left: -5px;
  margin-right: -5px;
}

.related-posts .row {
  margin: 0 -10px 0 -10px;
}

/*** FOOTER ***/
#footer {
  /* background:#111; */
  background: #0a0a0a;
  padding: 40px 0 20px 0;
}

/*** Footer widgets ***/
h4.footer-widget-title {
  color: #fff;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}

#footer .widget ul li a,
#footer .widget p a {
  color: #bbb;
}

#footer .widget p {
  color: #777;
}

/*** Tags **/
.tagcloud a {
  background: #eee;
}
#footer .mars-keycloud-widgets a,
#footer .widget a.tag {
  background: #333;
  color: #888;
}
.tagcloud a:hover,
#footer .mars-keycloud-widgets a:hover,
#footer .widget a.tag:hover {
  background: #e73737;
  color: #fff;
  text-decoration: none;
}

/*** FOOTER COPYRIGHT ***/
.copyright {
  border-top: 1px solid #222;
  padding-top: 20px;
  margin-top: 20px;
}
.copyright p {
  font-size: 12px;
  color: #7e7b7b;
}

/*** VIDEO PAGE ***/
.video-wrapper {
  margin-top: -30px;
  padding: 30px 0;
  background: #111;
  margin-bottom: 30px;
}

.video-info {
  margin-bottom: 20px;
  overflow: hidden;
}
#breadcrumbs,
#breadcrumbs a {
  color: #333;
  display: none;
}
.large #breadcrumbs,
.large #breadcrumbs a {
  color: #fff;
  font-size: 14px;
}
.post-password-form {
  color: #666;
}
.small #breadcrumbs a {
  color: #333;
  font-size: 14px;
}
.video-info h1 {
  margin: 0;
  font-size: 24px;
  color: #fff;
  float: left;
}

.video-info span.views {
  float: right;
  color: #888;
  font-size: 16px;
  line-height: 30px;
}
.video-info span.views i {
  margin-right: 4px;
}

.video-info span.likes,
.video-info span.dislikes {
  float: right;
  color: #666;
  font-size: 16px;
  line-height: 30px;
  margin-right: 15px;
}
.video-info span.likes i,
.video-info span.dislikes i {
  margin-right: 4px;
}
.video-info span.likes {
  color: #4aad51;
}
.video-info span.dislikes {
  color: #f85043;
}

.video-options {
  margin-bottom: 25px;
}
.video-options .col-xs-6 {
  margin-top: 10px;
}
.video-options .option {
  border: 1px solid #e5e5e5;
  display: block;
  text-align: center;
  padding: 22px 0 20px 0;
  color: #999;
  height: 90px;
}
.video-options .option:hover {
  text-decoration: none;
  border: 1px solid #ccc;
  color: #666;
}
.video-options .option:hover i {
  color: #666;
}

.video-options .option i {
  font-size: 20px;
  display: block;
  margin-bottom: 4px;
  color: #b5b5b5;
}

/*** POST ENTRY ***/
.post-entry {
  margin-bottom: 28px;
}
.post-entry p {
  line-height: 23px;
  margin-bottom: 18px;
}
.post-entry h1,
.post-entry h2,
.post-entry h3,
.post-entry h4,
.post-entry h5,
.post-entry h6 {
  margin-bottom: 18px;
}
.post-entry > ul > li:last-child,
.post-entry > ol > li:last-child {
  margin-bottom: 18px;
}
.categories-video .btn-group {
  width: 100%;
}
.categories-video .btn-group .multiselect {
  width: 100%;
  text-align: left;
}
.categories-video .btn-group .multiselect-container {
  background: #fff !important;
  width: 40%;
}
.categories-video .btn-group .multiselect-container input {
  width: auto !important;
}
img.alignright {
  float: right;
  margin: 0 0 1em 1em;
}
img.alignleft {
  float: left;
  margin: 0 1em 1em 0;
}
img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
a img.alignright {
  float: right;
  margin: 0 0 1em 1em;
}
a img.alignleft {
  float: left;
  margin: 0 1em 1em 0;
}
a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.video-details {
  margin-bottom: 30px;
}
.video-details .date {
  font-weight: 700;
  display: block;
  margin-bottom: 5px;
}

.video-details .meta,
.post-info .meta {
  text-transform: uppercase;
  font-size: 11px;
  display: block;
  line-height: 27px;
}
.video-details .meta .meta-info,
.post-info .meta .meta-info {
  background: #e73737;
  color: #fff;
  padding: 5px 7px;
}
.video-details .meta a,
.post-info .meta a {
  background: #b2b2b2;
  color: #fff;
  padding: 5px 7px;
}
.video-details .meta a:hover,
.post-info .meta a:hover {
  text-decoration: none;
  background: #555;
  color: #fff;
}

/*** Video small ***/
.video-info.small h1 {
  color: #000;
}
.player {
  margin-bottom: 25px;
  z-index: 999;
}
.player .kgvid_wrapper {
  margin-top: 0;
}

/*** COMMENTS ***/
.comments {
  margin-bottom: 40px;
}

.comment-form .form-group input {
  width: 50%;
}

/*** user comments ***/
.comment-list {
  margin-bottom: 30px;
}

.comment {
  list-style: none;
}

.the-comment {
  overflow: hidden;
  margin-bottom: 20px;
}
.the-comment .avatar {
  float: left;
  margin-right: 6px;
  margin-bottom: 5px;
}
.the-comment .comment-content span.author,
.the-comment .comment-content span.author a {
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 4px;
  display: inline-block;
  color: #333;
}
.the-comment .comment-content span.author small {
  font-weight: 400;
  color: #999;
}
.the-comment .comment-content p {
  font-size: 12px;
}

.the-comment .comment-content a.reply,
.the-comment .comment-content a.edit {
  font-size: 11px;
  display: block;
  letter-spacing: 1px;
  color: #aaa;
  margin-top: -2px;
  margin-right: 8px;
  float: left;
}

/*** Comment nesting ***/
.comment ul {
  margin-left: 30px;
}

/*** BLOG ***/
.post {
  margin-bottom: 60px;
}

.post .blog-date {
  text-align: center;
  border-bottom: 1px solid #eee;
  padding-bottom: 5px;
}
.post .blog-date .day {
  font-size: 30px;
  line-height: 22px;
  color: #888;
}
.post .blog-date .month {
  text-transform: uppercase;
  color: #bbb;
  letter-spacing: 1px;
  font-size: 16px;
  margin-right: -2px;
}

.post .post-header {
  margin-bottom: 20px;
}
.post .post-header h2 a {
  color: #000;
}
.post .post-header .post-meta,
.post .post-header .post-meta a,
.post-meta a {
  color: #aaa;
  font-size: 12px;
}
.post .post-header .post-meta i {
  font-size: 14px;
  color: #c5c5c5;
  margin-right: 3px;
}
.post .post-header .post-meta .sep {
  margin: 0 12px;
  color: #ccc;
}
.post .post-excerpt {
  margin-top: 20px;
}
.post .post-excerpt p {
  line-height: 23px;
  margin-bottom: 18px;
  font-size: 14px;
}
.post-entry a.readmore {
  background: #e73737;
  padding: 10px 12px;
  border-radius: 3px;
  color: #fff;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.post-entry a.readmore:hover {
  text-decoration: none;
  opacity: 0.9;
}

.post-tags a.tag {
  padding: 6px 10px;
  color: #999;
}

.single-entry {
  margin-bottom: 0;
}

/*** Pagination ***/
.pager li > a {
  color: #888;
  border: 1px solid #ccc !important;
}

/*** BROWSE & CATEGORIES ***/
.browsing {
  display: block;
  color: #b5b5b5;
  font-size: 9px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: -1px;
}

.sorting {
  margin-top: 2px;
  padding-left: 0;
}
.sorting li {
  display: inline-block;
}
.sorting li a {
  padding: 4px 8px;
  color: #999;
  font-size: 12px;
}
.sorting li.active a,
.sorting li:hover > a {
  background: #e73737;
  color: #fff;
  border-radius: 5px;
}
.sorting li a:hover {
  text-decoration: none;
}
.sorting li.sort-text {
  font-weight: 700;
  color: #555;
  font-size: 12px;
  margin-right: 6px;
}

/*** pagination ***/
.pagination span.current,
.pagination > .active > a {
  background: #e73737 !important;
  border-color: #e73737 !important;
  color: #fff !important;
}
.pagination > li > a,
.pagination > li > span {
  color: #999 !important;
}

ul.post-tape li {
  margin-top: 6px;
}
ul.post-tape li a {
  border-radius: 0 !important;
  background: none;
  border: none;
}

.videoWrapper {
  z-index: 100000;
  position: relative;
}
.videoWrapper video {
  width: 100%;
  height: 100%;
  max-width: 100%;
}
.videoWrapper .wp-video {
  width: 100% !important;
}
#lightoff {
  display: none;
  background: #000;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  z-index: 10;
}
.videoWrapper object {
  width: 100%;
  height: 100%;
}
.videoWrapper embed {
  width: 100%;
  height: 100%;
}
video.wp-video-shortcode,
.wp-video-shortcode video {
  height: auto;
}
.video-page-builder img {
  width: 100%;
}
.carousel .meta,
.widget .col-sm-6 .meta,
.meta-maxwidth-230 .meta {
  max-width: 230px;
}
.featured-wrapper .meta,
.widget .meta,
.meta-maxwidth-360 .meta {
  max-width: 360px;
}

.dropdown-menu {
  background: #4c5358;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background: rgba(0, 0, 0, 0.2);
}

@media (min-width: 767px) {
  ul.nav li.menu-item-has-children:hover > ul.dropdown-menu {
    display: block;
  }
}

@media (max-width: 1023px) {
  .feat-item h3 a {
    font-size: 12px;
    white-space: nowrap;
  }
  .video-section .item h3 a,
  .widget .item h3 a {
    font-size: 11px;
    overflow: hidden;
  }
  .item .meta,
  .feat-item .feat-info .meta {
    font-size: 10px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 390px;
  }
  #logo {
    width: 100%;
    border-right: 0;
    box-shadow: none;
  }
  #header-search {
    position: relative;
    left: 0;
    right: 0;
    overflow: hidden;
  }
  #header-social {
    position: absolute;
    line-height: 52px;
    height: 52px;
    border-left: 0;
    text-align: left;
    box-shadow: none;
  }
  #header-social a {
    margin-left: 0;
    margin-right: 10px;
  }
  .navbar-collapse {
    max-height: 1000px !important;
  }
}
.item .meta .fcomments,
.feat-item .feat-info .meta .fcomments {
  display: none;
}
@media screen and (max-width: 30em) {
}
@media screen and (max-width: 60em) {
  .meta span:last-child {
    margin-right: 0;
  }
}
@media (max-width: 767px) {
  #logo {
    text-align: center;
  }
}
/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
  margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

a img.alignnone {
  margin: 5px 20px 20px 0;
}

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 75em) {
  #gallery-1 .gallery-item {
    width: 50% !important;
  }
}
@media screen and (max-width: 53.75em) {
  #gallery-1 .gallery-item {
    width: 50% !important;
  }
}
.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%; /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center;
}

.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}
.gallery-caption {
}
.bypostauthor {
}
.channel-header,
.profile-widget-header {
  float: left;
  width: 100%;
  border: 1px solid #eee;
  padding: 12px;
  margin-bottom: 25px;
}
.channel-image,
.profile-widget-image {
  float: left;
  margin-right: 16px;
}
.channel-info h3,
.profile-widget-info h3 {
  display: block;
  margin-bottom: 14px;
  margin-top: 9px;
  float: none;
}
.profile-widget-info h3 {
  font-size: 18px;
}
.channel-item,
.profile-widget-info-item {
  display: inline-block;
  border: 1px solid #eee;
  color: #999;
  font-size: 12px;
  padding: 3px 7px;
  margin-right: 5px;
  margin-bottom: 5px;
}
.profile-widget-info-item a {
  color: #000;
}

.vc_responsive .wpb_row .vc_span9 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.vc_column_container {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.vc_column_container.sidebar {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.columns-1 .col-sm-12 img {
  width: 100%;
  height: auto;
}

.register-terms input[name="terms_required"] {
  margin-right: 8px;
}
#subscrib-modal {
  z-index: 99999999;
}
.screen-reader-text {
}

.player-large.embed-responsive-twitter .twitter-video {
  max-width: 100% !important;
  height: auto;
}

#mars-submit-video-form .btn {
  margin-right: 10px;
}

#mars-submit-video-form .alert {
  padding: 5px 12px;
}

#mars-submit-video-form .alert-danger {
  margin-top: 20px;
}

.video_thumbnail .thumbnail-image {
  margin: 20px 0;
}

a.uploaded-file {
  display: inline-block;
  margin-left: 0;
  margin-top: 5px;
  color: #373d43;
}
.edit-post {
  margin: 10px 0;
  text-align: right;
}
.edit-post .btn {
  padding: 5px 20px;
}

/* PTS */
.section-footer {
  overflow: hidden;
  margin-bottom: 20px;
  padding-left: 5px;
  padding-right: 5px;
}
.carousel .section-footer {
  margin-left: -5px;
  margin-right: -5px;
}
.section-footer .section-nav {
  position: static;
  width: auto;
  margin: 0;
}
.section-footer .section-nav .bullet {
  background: #ddd;
  width: 13px;
  height: 13px;
  display: inline-block;
  border-radius: 50px;
  border: 0;
  margin: 0;
}
.section-footer .section-nav .bullet.active {
  background: #e73737;
}
.video-section .item h3 a,
.widget .item h3 a,
.video-info.small h1,
span,
p,
h1,
h2,
h3,
h4,
h5,
label {
  color: white !important;
}
.content-more-js {
  white-space: nowrap;
  overflow: hidden;
  height: auto !important;
}
.d-flex {
  display: flex !important;
}
.flex-wrap {
  display: flex !important;
  flex-wrap: wrap !important;
}
.col {
  box-sizing: border-box !important;
}
.justify-content-center {
  justify-content: center !important;
}
.justify-content-flex-end {
  justify-content: flex-end !important;
}
.align-items-center {
  align-items: center !important;
}
.ml-0 {
  margin-left: 0px !important;
}
.mr-0 {
  margin-right: 0px !important;
}
.m-0 {
  margin: 0px !important;
}
.pl-0 {
  padding-left: 0px !important;
}
.pr-0 {
  padding-right: 0px !important;
}
.p-0 {
  padding: 0px !important;
}
#header-search {
  border-radius: 4px;
}
.button-search {
  background: red;
  display: flex;
  align-items: center;
  padding: 0 10px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  cursor: pointer;
}
.button-search span {
  font-size: 11px;
  padding: 0 9px;
}
body {
  font-family: "Noto Sans", sans-serif !important;
}
/* body.custom-background {
	background: black !important;
} */

.list-taxonomy {
  list-style-type: none;
  padding-left: 20px;
}
.list-taxonomy > li > a {
  text-decoration: none;
  color: white;
  line-height: 30px;
}
a:hover {
  text-decoration: none;
}
.dropbtn {
  background-color: #0a0a0a;
  color: white;
  padding: 5px 13px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 10px 13px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  cursor: pointer;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: red;
}
@media (min-width: 767px) {
  #navigation-wrapper ul.menu li a:nth-child(1) {
    margin-left: 0px !important;
  }
  #header-search {
    background: #464646;
  }
  .border-bottom form {
    height: 79px;
    align-items: center;
  }
  .border-md-bottom {
    border-bottom: 1px solid #e5e5e5;
  }
  .align-items-md-center {
    display: flex !important;
    align-items: center !important;
  }
  .pl-md-0 {
    padding-left: 0px !important;
  }
}
@media (max-width: 768px) {
  #header-search {
    background: #464646;
    width: 100%;
  }
  .nav_sp {
    z-index: 9999;
    width: 100%;
  }
  .box-language-sp {
    margin-top: 9px;
    margin-left: 4px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .dropbtn,
  .dropdown-content a {
    padding: 0 !important;
    width: 100%;
	height: 100%;
  }
  .dropdown-content a {
	margin-top: 5px;
	margin-bottom: 5px;
  }
  .dropdown {
    width: 100%;
    height: 100%;
  }
  .dropdown-content {
    width: 100%;
	text-align: center;
  }
  .box-language {
    height: 30px;
  }
}
@media (min-width: 768px) {
  .box-language-sp {
    display: none;
  }
}
@media (max-width: 767px) {
  .box-language {
    display: none;
  }
}

@media (min-width: 576px) {
  .container,
  .container-sm {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
